/* CONTAINER: HOLDS BOTH INPUT AND OUTPUTS */
.container_bg_light {
    border-radius: 20px;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.20);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #f3f3f3; /*#416a9d; */
    overflow: hidden;
}
.container_bg_dark {
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #303030; /*#416a9d; */
    overflow: hidden;
}

.tableau_bg_light {
    border-radius: 20px;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.20);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #f3f3f3;
    overflow: hidden;
}

/* INPUT: WHERE USER ENTERS PLAYER INFO */
.input_container_light {
    background-color: #ffffff;
}

.input_container_dark {
    background-color: #222222;
}

/* OUTPUT: CONTAINS CARD IMAGE AND STATS */
.output_container {
    padding-left: 20px;
    padding-right: 20px;    
}

/* MAIN BODY */
.main_body_light {
    background-color: #ffffff;
}
.main_body_dark {
    background-color: #000000;
}

/* RADAR: SHOWS RADAR CHART FOR PLAYER ATTRIBUTES */
.radar_container_light {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.20);
    padding: 8px;
    overflow: hidden;
    display: none;
    margin-bottom: 8px;
}
.radar_container_dark {
    background-color: #9b9b9b;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
    display: none;
    margin-bottom: 8px;
}

/* BREAKDOWN: SHOWS STATS, POINTS, ACCURACY, ETC */
.breakdown_output_light {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.20);
    padding: 8px;
    overflow: hidden;
}
.breakdown_output_dark {
    background-color: #222222;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
}

/* COLUMN REPRESENTS THE FLEX COLUMN FOR THE INPUT CONTAINER */
.input_container_column_light {
    height: 100%;
    background-color: #ffffff;
}
.input_container_column_dark {
    height: 100%;
    background-color: #222222;
}

/* CARD OUTPUT */
.card_output {
    border-radius: 18px;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.20);
    overflow: hidden;
}
.card_image {
    padding: 5px;
}

/* ESTIMATED VALUES FOOTNOTE */
.estimated_values_footnote_light, .rank_values_footnote_light {
    font-size:50%; 
    color: #000000;
}
.estimated_values_footnote_dark, .rank_values_footnote_dark {
    font-size:50%; 
    color: #ffffff;
}

/* LOGO IMAGE */
#showdown_logo_img {
    max-width: 250px;
    max-height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/* LIBRARY LOGO IMAGE */
#showdown_library_logo_img {
    max-height: 35px;
    max-width: 90px;
    display: none;
}

.library_logo_container {
    margin-left: auto; 
    margin-top: auto; 
    margin-bottom: auto;
    padding-right: 10px;
}

/* FLEX BOX CUSTOM */
.flex_box_custom {
    display: flex;
}

/* TABS CONTAINER */
.tabs {
    display: flex;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 5px;
}

/* TABS BUTTON */
.tabs_button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: rgb(227, 226, 226);
    margin-right: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(37, 37, 37);
}

/* TABS BUTTON WHEN BEING CLICKED */
.tabs_button:active {
    background-color: rgb(150, 148, 148);
}

/* TABS BUTTON WHEN BEING CLICKED */
.tabs_button--active {
    background-color: rgb(73, 131, 212);
    font-weight: bold;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content-explore-hidden {
    display: block;
    visibility: hidden;
}

.tab-content--active {
    display: block;
}

#darkThemeToggleLabel {
    margin-right: 10px;
}

/* PLAYER NAME */
.player_name_light {
    color: black;
    padding: 0px; 
    padding-top: 20px; 
    margin: 0px; 
    font-weight: bolder; 
    font-family: Helvetica Neue;
}
.player_name_dark {
    color: gray;
    padding: 0px; 
    padding-top: 20px; 
    margin: 0px; 
    font-weight: bolder; 
    font-family: "Helvetica Neue";
}
.player_link_light {
    margin: 2px; 
    color: black;
}
.player_link_dark {
    margin: 2px;
    color: gray;
}
.player_shOPS_plus_light {
    margin: 2px;
    font-weight: bolder;
    color: black;
}
.player_shOPS_plus_dark {
    margin: 2px;
    font-weight: bolder;
    color: gray;
}

/* SWITCHES */
.form-switch .form-check-input {
    background-color: #d1d1d1;
}
.form-check-input:checked {
    background-color: #356FFE;
}

/* LOADING SCREEN */
.overlay_light{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
}
.overlay_dark{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(22, 22, 22, 0.75);
    color: white;
    display: none;
}
.loader_container {
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    text-align: center;
}
.loader_text {
    margin-left: 0px;
    margin-bottom: 0px;
    opacity: 0.9;
    font-weight: bolder; 
    font-family: "Helvetica Neue";
    font-size: 13px;
}
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    opacity: 1.0;
    width: 40px;
    height: 40px;
    animation: spin 1.5s ease-in-out infinite;
    margin-left: 45px;
}
.loader_container_rectangle_light {
    border-radius: 20px;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.20);
    padding: 10px;
    background-color: #ffffff;
}
.loader_container_rectangle_dark {
    border-radius: 20px;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.20);
    padding: 10px;
    background-color: #2d2d2d;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* FORM */
.form-group {
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:500;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* GENERAL */
input[type='text'],
input[type='number'],
select:focus,
textarea {
  font-size: 16px;
}