# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env*
pythonenv*

# Distribution / packaging
.Python
.vscode
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST.in

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
.python-version

# MY FILES
tests/cache/player_cache.csv
tests/image_output/
mlb_showdown_bot/scripts/output/
static/output/
mlb_showdown_bot/uploads/
mlb_showdown_bot/output/
mlb_showdown_bot/cache_data/
mlb_showdown_sim/

# FRONTEND
frontend/node_modules/

# CREDS
firebase_creds.json