@import "tailwindcss";

:root {
    --primary: #000000;
    --secondary: #292929;

    --showdown-blue: #1a3b5f;
    --showdown-red: #9a362f;
    
    --background-primary: #f0f4f8;
    --background-secondary: #ffffff;
    --background-teritiary: #e8ebed;

    --divider: #e0e0e0;
}

.dark {
    --primary: #ffffff;
    --secondary: #dfdfdf;

    --showdown-blue: #4682e6;
    --showdown-red: #d04e47;

    --background-primary: #2d2d32;
    --background-secondary: #232526;
    --background-teritiary: #3a3a3f;

    --divider: #444444;
}

/* Custom Fonts */
@font-face {
    font-family: 'ShowdownSetItalic';
    src: url('./assets/fonts/HelveticaNeueCondensedHeavyOblique.otf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@layer utilities {
    .bg-primary {
        background-color: var(--background-primary);
    }

    .bg-secondary {
        background-color: var(--background-secondary);
    }

    .bg-tertiary {
        background-color: var(--background-tertiary);
    }

    .text-primary {
        color: var(--primary);
    }

    .text-secondary {
        color: var(--secondary);
    }

    .border-form-element {
        border-color: var(--divider);
    }

    .font-showdown-set-italic {
        font-family: 'ShowdownSetItalic', serif;
        font-style: italic;
    }

    .text-outline-double {
        text-shadow: 
            /* Inner outline */
            -1px -1px 0 #ababab,
            1px -1px 0 #ababab,
            -1px 1px 0 #ababab,
            1px 1px 0 #ababab,
            /* Outer outline */
            -2px -2px 0 #000000,
            2px -2px 0 #000000,
            -2px 2px 0 #000000,
            2px 2px 0 #000000,
            -2px 0 0 #000000,
            2px 0 0 #000000,
            0 -2px 0 #000000,
            0 2px 0 #000000;
    }

}

/* Set default text color for entire app */
body {
    color: var(--primary);
    background-color: var(--background-primary);
}